/* font face */
@font-face {
    font-family: "Raleway-bold";
    src: url('../fonts/Raleway/Raleway-Bold.ttf');

}
@font-face {
   
    font-family: "Raleway-thin";
    src: url('../fonts/Raleway/Raleway-Thin.ttf');
}