/*====== GENERAL =======*/
.uppercase{
    text-transform:uppercase;
}

/*====== END GENERAL =======*/

/*====== SECTION 1 =======*/
.section1{
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #448dce;
    background-color: rgb(29,115,202);
    float:none;
    text-align: center;
   
   
}
/* .profillage{
    margin: 0 auto;
    padding-right: 30%;
    padding-left: 30%;
    max-width:100%;
} */
.section1 .profillage {
    color: #fff;
    font-size: 18px;
  
}
.section1 .profillage .nom{
    margin-top: 30px;
    font-size: 24px;
    font-weight: 600;
}
.section1 .profillage .metier{
    margin-top: 15px;
    font-size: 17px;
    opacity: .7;
}
.section1 .profillage img{
    width: 200px;
    height: 200px;
}
hr{   
    margin: 0 50px;
    background-color:#fff;
    background-color:cornflowerblue;
    border: 3px solid #94b0bd;
    border: 3px solid cornflowerblue;
  
    /* margin-left: 150px;
    margin-right: 0; */
    /* box-shadow: 0 0 1px #a1b1c0; */
    box-shadow: 0 0 1px cornflowerblue;


}
.identification .contact{
    /* margin-left: 100px; */
    color: #fff;
    display: flex;
    margin: 0 auto;
    text-align: center;
    width: max-content;
}

.identification .contact i{
    font-size: 30px;
    
}
.identification .div-phone{
    padding-left: 10px;

    
}
.identification .contact .phone{
    font-size: 17px;
    padding-left: 10px;
    
   
}
.identification .contact .description-phone{
    margin-top: 15px;
    font-size: 15px;
    opacity: .7;
}
.identification .bare-de-progresse{
    margin: 20px 50px 0 50px;

}
.identification .progress{
   background: #fff; 
   height: 22px;
   margin-top: 30px;
  
}
 
.identification .progress-bar{
    background-color: #d5deda;
    color: rgb(29,115,202);
   font-size: 16px;
   font-weight: 600;
   
    
}
/*======  END SECTION 1 =======*/

/*====== SECTION  =======*/
.section2{
    background-color: #d5deda;
    color: #000;
    padding: 30px 40px;
    
}

.section2 .contenu{
    background:#fff;
    width: 80%;
    margin: 0 auto 50px auto;
    box-shadow: 0px 0px 0px white;
    border-radius: 3px;
    padding: 20px;
}
.section2 i{
    font-size: 40px;

}
.section2  h3{
    display: inline-block;
   
}
.section2  .about h3{
    
    padding-left: 24px;
}
.section2  .work-experience h3{
    
    padding-left: 14px;
}
.section2  .education h3{
    
    padding-left: 3px;
}
.section2  .archivement h3{
    
    padding-left: 13px;
}
.section2  .archivement h3{
    
    padding-left: 13px;
}
.section2  .hobbies h3{
    
    padding-left: 15px;
}
.section2 .contenu p{
    padding-left: 60px;
}
.section2 .hobbies img{
   width: 80px;
   height: 80px;
   margin-left: 30px;
  
}

.spate-etroite{
    max-width: 70%;
    text-align: center;
    float: none;
    padding-left: 10%;
    padding-right: 10%;

}
.spate-etroite span{
    font-size: 10px;
    color: gray;
    opacity: .8;
}
/*======  END SECTION 2 =======*/



/* 
<i class="fa fa-briefcase" aria-hidden="true"></i>




 */
